html {
    background: url(./Images/wallpaper.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

#mainDiv {
    border: 4px;
    border-color: whitesmoke;
    border-style: solid;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(35, 42, 54, 0.95);
    box-shadow: 20px 20px 20px rgb(69, 153, 200);
}

#mainDisplay {
    height: 150px;
    width: 400px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 45px;
    border-bottom-left-radius: 0%;
    padding: 15px;
    background-color: dimgray;
    color: whitesmoke;
}

#displayWindow {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 60px;
}

#currentCalculation {
    padding-top: 15px;
    display: flex;
    font-size: 25px;
    justify-content: flex-start;
}

.Buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    padding-block: 35px;
    padding-top: 15px;
}

.column1,
.column2,
.column3,
.column4 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: calc(100vh/ 40);
}

.btn {
    width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    flex: 1;
    border: none;
    border-radius: 15%;
    background-color: whitesmoke;
    box-shadow: 0 8px rgb(105, 100, 100);
}

.btn:hover {
    opacity: 90%;
}

.btn:active {
    background-color: rgb(9, 194, 9);
    box-shadow: 0 5px rgb(142, 136, 136);
    transform: translateY(4px);
}

#⌫:active {
    background-color: red;
    box-shadow: 0 5px rgb(144, 139, 139);
    transform: translateY(4px);
}

footer {
    color: azure;
    padding: 15px;
    align-items: center;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: azure;
}

img{
    padding-left: 10px;
    padding-right: 10px;
}

#invisibleDiv {
    height: 15px;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
}